{{ block "index" . }}
<html>
<head>
    {{ template "head.html" . }}
</head>
<body>
{{ template "header.html" . }}

<script>
    document.addEventListener("DOMContentLoaded", (event) => {
        document.body.addEventListener('htmx:beforeSwap', function(event) {
            if (event.detail.xhr.status === 422) {
                event.detail.shouldSwap = true;
                event.detail.isError = false;
            }
        });
    })
</script>
        <div></div>

</body>
</html>
{{ end }}

